@charset "utf-8";
/* CSS Document */
#cabezote{
	background-color:#f3f4f6;
	width:1112px;
	height:80px;

}
#imagos{
	background-image:url(logo.jpg);
	background-repeat:no-repeat;
	width: 64px;
	height:80px;
	top:0px;
	float: left;
	margin-top: 0px;
	padding-top: 0px;
}

#stage{
	width:1112px;
	height:768px;
	border-bottom-style:solid;
	border-bottom-color:#900;
	text-align:center;
	text-decoration:overline;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bolder;
	color: #000;	
}	

.areaBig{
	
	width: 1012px;
	height:auto;
	border-bottom-style: solid;
	border-bottom-color: #900;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 8px;
	font-weight: bolder;
	float:left;
	padding-left:100px;
}

.basicas{
	width:100px;
	margin-top:1px;
	margin-left:1px;
	float:left;
}

.ciencias{
	width:100px;
	margin-left:1px;
	float:left;
	margin-top:1px;
}

.aplicadas{
	width:100px;
	margin-left:1px;
	float:left;
	margin-top:1px;
}
.economicas{
	width:100px;
	margin-left:1px;
	float:left;
	margin-top:1px;
}
.humanisticas{
	width:100px;
	margin-left:1px;
	float:left;
	margin-top:1px;
}
.complementarias{
	width:100px;
	margin-left:1px;
	float:left;
	margin-top:1px;
}
.prq{
	float: right;	
}
#card{
	width:auto;
	height:auto;
	background-color:#0099FF;
}
div[class^="bloque"]{
	width: 100px;
	height: 60px;
	background-color: #0099FF;
	border-bottom-style: inset;
	border-bottom-color: #000;
	float:left;
}


